<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary btn-back" (click)="this._location.back()"><i class="fa fa-long-arrow-left"></i> Back to Artist</button>
  </div>
</div>
<div id="album" *ngIf="album">
  <header class="album-header">
    <div class="row">
      <div class="col-sm-4">
        <div *ngIf="album.images.length > 0">
          <img class="album-thumb" src="{{album.images[0].url}}" />
        </div>
      </div>
      <div class="col-sm-8">
        <h4 class="artist-list" *ngIf="album.artists.length > 0"><span *ngFor="let artist of album.artists">
          <a href="artist/{{artist.id}}">{{artist.name}}</a>
        </span></h4>
        <h2>{{album.name}}</h2>
        <h5>Release Date: {{album.release_date_precision === 'year' ? (album.release_date) : (album.release_date | date)}}</h5>
        <a class="btn btn-primary" href="{{album.external_urls.spotify}}">View In Spotify</a>
      </div>
    </div>
  </header>

  <div class="album-tracks">
    <h5>Album Tracks</h5>
    <div *ngFor="let track of album.tracks.items" [ngClass]="{'is-playing': track.isPlaying}">
      <div class="track well">
        <i class="fa fa-play-circle-o" id="play-{{track.id}}" (click)="playSong(track.id); track.isPlaying = !track.isPlaying"></i>
        <audio id="audio-{{track.id}}" src="{{track.preview_url}}"></audio>
        <div id="details-{{track.id}}" class="track-details">
          <h5>{{track.track_number}} - {{track.name}} ({{track.duration_ms | songTime}}) <span *ngIf="album.artists[0].name === 'Various Artists'"> - {{track.artists[0].name}}</span></h5>
        </div>
      </div>
    </div>
  </div>
</div>
