<div *ngIf="artist">
  <header class="artist-header">
    <div *ngIf="artist.images.length > 0">
      <img class="artist-thumb" src="{{artist.images[0].url}}"/>
    </div>
    <h1>{{artist.name}}</h1>
    <p *ngIf="artist.genres.length > 0">
      Genres: <span artist *ngFor="let genre of artist.genres">{{genre}} </span>
    </p>
  </header>

  <div class="row">
    <div class="artist-albums" [ngClass]="(relatedArtists != 0) ? 'col-sm-9' : 'col-sm-12'">
      <div *ngIf="albums != 0">
        <div class="albums-group col-sm-12">
          <h5>Albums</h5>
          <div class="row row-eq-height">
            <div *ngFor="let album of albums" class="col-sm-4 album">
              <div class="well">
                <div *ngIf="album.images.length > 0">
                  <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}" />
                </div>
                <h4>{{album.name}}</h4>
                <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}">Album Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="eps != 0">
        <div class="albums-group col-sm-12">
          <h5>EPs</h5>
          <div class="row row-eq-height">
            <div *ngFor="let ep of eps" class="col-sm-4 album">
              <div class="well">
                <div *ngIf="ep.images.length > 0">
                  <img class="album-thumb img-thumbnail" src="{{ep.images[0].url}}" />
                </div>
                <h4>{{single.name}}</h4>
                <a class="btn btn-default btn-block" routerLink="/album/{{ep.id}}">Album Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="singles != 0">
        <div class="albums-group col-sm-12">
          <h5>Singles</h5>
          <div class="row row-eq-height">
            <div *ngFor="let single of singles" class="col-sm-4 album">
              <div class="well">
                <div *ngIf="single.images.length > 0">
                  <img class="album-thumb img-thumbnail" src="{{single.images[0].url}}" />
                </div>
                <h4>{{single.name}}</h4>
                <a class="btn btn-default btn-block" routerLink="/album/{{single.id}}">Album Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="comps != 0">
        <div class="albums-group col-sm-12">
          <h5>Albums</h5>
          <div class="row row-eq-height">
            <div *ngFor="let comp of comps" class="col-sm-4 album">
              <div class="well">
                <div *ngIf="comp.images.length > 0">
                  <img class="album-thumb img-thumbnail" src="{{comp.images[0].url}}" />
                </div>
                <h4>{{comp.name}}</h4>
                <a class="btn btn-default btn-block" routerLink="/album/{{comp.id}}">Album Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="appears_on != 0">
      <div class="albums-group col-sm-12">
        <h5>Appears On</h5>
        <div class="row row-eq-height">
          <div *ngFor="let appears of appears_on" class="col-sm-4 album">
            <div class="well">
              <div *ngIf="appears.images.length > 0">
                <img class="album-thumb img-thumbnail" src="{{appears.images[0].url}}" />
              </div>
              <h4>{{comp.name}}</h4>
              <a class="btn btn-default btn-block" routerLink="/album/{{appears.id}}">Album Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="relatedArtists != 0">
      <div class="related-artists col-sm-3">
        <h4>Related Artists</h4>
        <div *ngFor="let related of relatedArtists">
          <a routerLink="/artist/{{related.id}}">{{related.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
