<h1>Discover Something New</h1>
<p class="lead">Use the ngSpotify app to browse artists and new releases, find your favorite songs, and discover new artists.</p>
<form>
  <div class="form-group">
    <input id="search" type="text" name="searchStr" (keyup)="searchMusic()" [(ngModel)]="searchStr" class="form-control" placeholder="Search Music...">
  </div>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div class="row">
      <div class="col-sm-12">
        <div class="search-res well">
          <div *ngIf="res.images.length > 0">
            <img class="search-thumb" src="{{res.images[0].url}}"/>
          </div>
          <h4><a routerLink="/artist/{{res.id}}">{{res.name}}</a></h4>
          <div class="genres" *ngIf="res.genres.length > 0">
            <strong>Genres: </strong>
            <span *ngFor="let genre of res.genres">{{genre}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
